/* 
###############
#   GENERICS  #
############### 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
###############
#    DEBUG    #
############### 
*/
.border {
  border: 1px solid red;
}

/* 
###############
#    UTILS    #
############### 
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.row {
  margin: -1rem;
}

body {
  font-family: "Montserrat", sans-serif;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center-items {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* 
###############
#   LAYOUT    #
############### 
*/

/* NAVBAR */
#navbar {
  width: 300px;
  height: calc(100vh - 120px);
  background-color: #000000;
}

.navigation {
  padding: 1.5rem;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation li {
  list-style-type: none;
}

.logo img {
  width: 80%;
}

.home {
  color: #646464;
  margin: 1rem;
}

.home span {
  font-size: 1.2rem;
}

.home i {
  font-size: 1.8rem;
  margin: 0.7rem 0.5rem 0 0;
}

.playlist {
  margin: 1rem;
}

.playlist h3 {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
}

.playlist span {
  color: #646464;
  font-size: 1.2rem;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #c1c1c1;
  margin: 1rem 0 0 0;
  display: inline-block;
}

.square i {
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 10px;
}

.playlist-list {
  overflow: auto;
  max-height: 250px;
}

.playlist-list li {
  color: #646464;
  margin: 1rem;
  font-size: 1.2rem;
}

.user-nav {
  display: flex;
  align-items: flex-end;
}

.user-nav .download {
  color: #646464;
  margin: 1rem;
  font-size: 1.2rem;
}

.user-nav hr {
  color: #646464;
  margin: 1rem;
}

.user {
  color: white;
  margin: 1rem;
}

.user i {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.user h3 {
  display: inline-block;
  font-weight: bolder;
  font-size: 1.3rem;
}

/* MAIN */

main {
  display: flex;
  height: calc(100vh - 120px);
  background-color: #141922;
  overflow: hidden;
}

/* HEADER */

header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  left: 0;
}

header button {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 1rem 3rem;
  margin-top: 25px;
  margin-right: 10px;
}

header button a {
  text-decoration: none;
  color: white;
}

.upgrade {
  display: flex;
  justify-content: flex-end;
}

/* CONTENT */

#content {
  width: 100%;
  overflow: auto;
}

#album {
  height: calc(100% - 100px);
  color: white;
}

#album p {
  color: #696c71;
}

.menu-link ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.menu-link li {
  padding: 1rem;
}

.menu-link li a {
  text-decoration: none;
  color: #73767b;
}

/* CONTAINER */

.recently h2 {
  margin: 1rem;
  font-size: 1.8rem;
}

.created h2 {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1.8rem;
}

.created p {
  margin: 1rem 0 2rem 1rem;
}

.popular h2 {
  margin: 2rem 1rem 1rem 1rem;
  font-size: 1.8rem;
}

.popular p {
  margin: 1rem 0 2rem 1rem;
}

.row {
  display: flex;
}

.card {
  width: calc(100% / 6);
  margin: 1rem;
}

.img-card {
  width: 100%;
}

.img-card img {
  width: 100%;
  height: auto;
}

.radius-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.content-card {
  width: 100%;
  text-align: center;
}

.content-card * {
  margin-top: 1rem;
}

/* FOOTER */
footer {
  width: 100%;
  height: 120px;
  padding: 0 1rem;
  background-color: #282828;
}

.reproduction {
  display: flex;
  align-items: center;
}

.reproduction img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.reproduction h4 {
  color: #c1c1c1;
  margin: 0 1rem;
}

.reproduction p {
  color: #c1c1c1;
  margin: 0 1rem;
}

.reproduction h4 {
  font-weight: bolder;
}

.reproduction-icon {
  display: flex;
  color: #c1c1c1;
  margin: 2rem;
}

.reproduction-icon i {
  margin: 0 0.5rem;
  font-size: 1.1rem;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player .fa-solid {
  margin: 0 1rem;
  color: #ffffff;
}

.player .fa-regular {
  margin: 0 1rem;
  color: #ffffff;
  vertical-align: sub;
}

.bar span {
  font-size: 0.8rem;
  color: #c1c1c1;
  font-weight: bolder;
}

.progress-bar-container {
  background-color: #5a5a5a;
  height: 5px;
  width: 600px;
  border-radius: 1rem;
  display: inline-block;
  margin: 2rem 2rem 0 2rem;
}

.progress-bar {
  background-color: #c1c1c1;
  height: 5px;
  width: 20%;
  border-radius: 1rem;
}

.volume {
  display: flex;
  align-items: center;
}

.volume i {
  margin: 0 0.5rem;
  color: #c1c1c1;
}

.progress-bar-container-vol {
  background-color: #5a5a5a;
  height: 5px;
  width: 100px;
  border-radius: 1rem;
  display: inline-block;
  margin-left: 0.5rem;
}

.progress-bar-vol {
  background-color: #c1c1c1;
  height: 5px;
  width: 25%;
  border-radius: 1rem;
}

/* 
###############
# RESPONSIVE  #
############### 
*/

/* 
###############
#    HOVER    #
############### 
*/

/* navbar */
.navigation li:hover {
  cursor: pointer;
  color: white;
}

.navigation span:hover {
  cursor: pointer;
  color: white;
}

.home li:hover {
  cursor: pointer;
  color: white;
  border-left: 3px solid #adff2f;
}

/* header */
header button:hover {
  font-size: 0.9rem;
  padding: 1.2rem 3.2rem;
  margin-top: 20px;
  margin-right: 5px;
}

/* menu link */
.menu-link li a:hover {
  cursor: pointer;
  color: white;
  border-bottom: 3px solid #adff2f;
}

/* footer */
footer i:hover {
  cursor: pointer;
  color: white;
}

footer span:hover {
  cursor: pointer;
  color: white;
}

footer p:hover {
  cursor: pointer;
  color: white;
}

footer .player .fa-solid:hover {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

footer .player .fa-regular:hover {
  cursor: pointer;
  color: white;
  font-size: 2.2rem;
}
