/* 
###############
#   GENERICS  #
############### 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
###############
#    DEBUG    #
############### 
*/
.border {
  border: 1px solid black;
}

/* 
###############
#    UTILS    #
############### 
*/

/* 
###############
#   LAYOUT    #
############### 
*/
/* main */
main {
  width: 100%;
  height: calc(100vh - 120px);
}

/* navbar */
#navbar {
  width: 300px;
  height: calc(100vh - 120px);
  background-color: #000000;
}

/* header */
#header {
  width: 100% - 300px;
  height: 100px;
  background-color: #080b12;
}

/* footer */
footer {
  width: 100%;
  height: 120px;
  background-color: #282828;
}

/* 
###############
# RESPONSIVE  #
############### 
*/
