/* 
###############
#   GENERICS  #
############### 
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
###############
#    DEBUG    #
############### 
*/
.border {
  border: 1px solid red;
}

/* 
###############
#    UTILS    #
############### 
*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.center-items {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

/* 
###############
#   LAYOUT    #
############### 
*/
/* main */

/* navbar */
#navbar {
  width: 300px;
  height: calc(100vh - 120px);
  background-color: #000000;
}

.navigation {
  padding: 1.5rem;
}

.navigation li {
  list-style-type: none;
}

.logo img {
  width: 80%;
}

.home {
  color: #646464;
  margin: 1rem;
}

.home span {
  font-size: 1.2rem;
}

.home i {
  font-size: 1.8rem;
  margin: 0.7rem 0.5rem 0 0;
}

.playlist {
  margin: 1rem;
}

.playlist h3 {
  color: #ffffff;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
}

.playlist span {
  color: #646464;
  font-size: 1.2rem;
}

.square {
  height: 50px;
  width: 50px;
  background-color: #c1c1c1;
  margin: 1rem 0 0 0;
  display: inline-block;
}

.square i {
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 10px;
}

.playlist-list li {
  color: #646464;
  margin: 1rem;
  font-size: 1.2rem;
}

.user-nav {
  margin-top: 300px;
}

.user-nav .download {
  color: #646464;
  margin: 1rem;
  font-size: 1.2rem;
}

.user-nav hr {
  color: #646464;
  margin: 1rem;
}

.user {
  color: white;
  margin: 1rem;
}

.user i {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.user h3 {
  display: inline-block;
  font-weight: bolder;
  font-size: 1.3rem;
}

/* header */

/* footer */
footer {
  width: 100%;
  height: 120px;
  padding: 0 1rem;
  background-color: #282828;
}

.reproduction {
  display: flex;
  align-items: center;
}

.reproduction img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.reproduction h4,
p {
  color: #c1c1c1;
  margin: 0 1rem;
}

.reproduction h4 {
  font-weight: bolder;
}

.reproduction-icon {
  display: flex;
  color: #c1c1c1;
  margin: 2rem;
}

.reproduction-icon i {
  margin: 0 0.5rem;
  font-size: 1.1rem;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player .fa-solid {
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.player .fa-regular {
  margin: 0 1rem;
  font-size: 2.5rem;
  color: #ffffff;
  vertical-align: sub;
}

.bar span {
  font-size: 0.8rem;
  color: #c1c1c1;
  font-weight: bolder;
}

.progress-bar-container {
  background-color: #5a5a5a;
  height: 5px;
  width: 600px;
  border-radius: 1rem;
  display: inline-block;
  margin: 2rem 2rem 0 2rem;
}

.progress-bar {
  background-color: #c1c1c1;
  height: 5px;
  width: 20%;
  border-radius: 1rem;
}

.volume {
  display: flex;
  align-items: center;
}

.volume i {
  margin: 0 0.5rem;
  color: #c1c1c1;
}

.progress-bar-container-vol {
  background-color: #5a5a5a;
  height: 5px;
  width: 100px;
  border-radius: 1rem;
  display: inline-block;
  margin-left: 0.5rem;
}

.progress-bar-vol {
  background-color: #c1c1c1;
  height: 5px;
  width: 25%;
  border-radius: 1rem;
}

/* 
###############
# RESPONSIVE  #
############### 
*/
